@for (int i = 0; i <= 5; i++)
{
    <br>
}
<div id="center-main" style="text-align: center; border: none; font-size: 20px; padding:10px">
    <img style="height:260px" id="L">
    <h2 style="color:darkred">Post is no longer available</h2>
    <button data-get="/Home/Index" id="follow-btn"> Go back </button>
</div>

<script>
    let L = document.getElementById("L");

    if((Math.floor(Math.random() * 100) + 1 ) > 5){
        // L.setAttribute("src", "~/images/icon/lacie_stop.png");
        L.src = "../images/icon/lacie_where.png";
    }else{
        L.src = "../images/icon/lacie_blow.gif";
    }
</script>