@model List<Post>
@inject DB db
@inject Helper hp
@await Html.PartialAsync("_blackout");

@{
    var email = User.Identity!.Name;
    var u = db.Users.FirstOrDefault(x => x.Email == email);
}

@for(int i = 0; i<=5; i++)
{
    <br>
}

<div style="margin: auto; text-align: center;">
    <img src="~/images/profile/@u.PhotoURL" style="width: 200px; height: 200px; border-radius:50%">
    <h1>Welcome Back, @hp.DisplayNickname(u.Username)!</h1>
    <h3>Here are the latest 50 posts.</h3>
</div>

<div id="center-main">
    @if(Model.Count() == 0)
    {
        <h1>The silent is real.</h1>
        <h3>You're the first one to post in here</h3>
    }
    else
    {
        foreach (var post in Model)
        {
            <div class="center-post" id="postbox-@post.Id">
                @Html.Partial("../Post/_LoadPost", post)
            </div>
        }
    }
</div>