@model ResetPasswordVM
@await Html.PartialAsync("_blackout");


<style>
    .form{
        margin: auto;
        margin-top: 200px;
    }

    #edit-part {
        width: 550px;
        text-align: left;
        margin-top: 30px;
    }

    #edit-barr {
        width: 550px;
        height: 35px;
        padding-left: 10px;
        font-size: 20px;
        in-top: 10px;
    }
</style>

<form class="form" method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <div id="edit-part">
        <label asp-for="Email"></label>
        <input asp-for="Email" id="edit-barr" autofocus>
        <span asp-validation-for="Email"></span>
    </div>

    <section>
        <button type="submit" class="login-btn" style="width: 200px;"> Send Email</button>
        <span style="float: right" onclick="toggleBlackout(BL_ResetGuide())" id="question">
                <svg height="20" width="20" viewBox="0 0 24 24">
                    <g fill="none" stroke="#000000" stroke-linecap="round">
                       <path class="bh" stroke-width="1" d="M9.008 8.84a3.185 3.185 0 0 1 3.471-1.806a3.09 3.09 0 0 1 2.265 1.614a2.682 2.682 0 0 1-1.562 3.689a1.98 1.98 0 0 0-1.276 1.787v.738"></path>
                       <path class="bh" stroke-linejoin="round" stroke-width="2" d="M11.881 17.424h.008"></path>
                       <path class="bh" stroke-linejoin="round" stroke-width="1" d="M12 21.5a9.5 9.5 0 1 0 0-19a9.5 9.5 0 0 0 0 19"></path>
                    </g>
                </svg>
        </span>
        <br>
        Go back to <a href="/Account/Login">login</a> or <a href="/Account/Register">register</a> page.
    </section>

    <div style="margin-top: 30px">
        <span>Reminder: We <b>DO NOT</b> take responsible when your account get stolen.</span>
    </div>
</form>

<script>
    function BL_ResetGuide(){
        return `
        <h2>Reset password Guide</h2>
            <hr>
            <ol>
                <li class="bolder">Enter your E-mail address on the "Email" textbox.
                    <ul>
                        <li class="normal-p">Ensure your E-mail address must require '@@' symbol.</li>
                        <li class="normal-p">Ensure your E-mail address are all alphatbetic characters, except for symbols.</li>
                        <li class="normal-p">Ensure your E-mail MUST belong to an individual and not be already taken.</li>
                        <li class="normal-p">Ensure your E-mail is already registered.</li>
                        <li class="normal-p">If red border displayed, indicated errors from reasons above.</li>
                        <br>
                        <li class="normal-p">If no red border displayed, the submission of your email is success.</li>
                        <li class="normal-p">Click the email that labelled "Send Email" to proceed to reset the password directly.</li>
                    </ul>
                </li>
                <br>
                <li class="bolder">After submission, the password from your e-mail will be reset.
                    <ul>
                        <li class="normal-p">Your password has been reset with encryption.</li>
                        <li class="normal-p">This requires you to check the e-mail application.</li>
                        <li class="normal-p">The mail systematically send in "Spam" section likely because of our website doesn't verified.</li>
                        <li class="normal-p">The mail will included the password with huge tect size in red color, copy the code and paste on your password textbox from <a href="/Account/Login">login</a></li>
                    </ul>
                </li>
                <br>
                <li class="bolder">After successing signed in with encrypted password
                    <ul>
                        <li class="normal-p">Direct to "Edit profile" and change your new password.</li>
                    </ul>
                </li>
                <br>
                <li class="bolder">Why using this method?
                    <ul>
                        <li class="normal-p">Localhost currently doesn't support multiconnection, this mean ONLY one user can use single page</li>
                    </ul>
                </li>
                <br>
                <li class="bolder">What if public know my e-mail address and spam?
                    <ul>
                        <li class="normal-p">To be honest, I have no idea.</li>
                    </ul>
                </li>
            </ol>
            `
    }
</script>
